div.figure-container {
  text-align: center;
  padding-top: 50px;
}

div.input-container{
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  margin-top: 50px;
}

.input-container button#submit {
  height: 50px;
  width: 100px;
  font-size: 10pt;
  border: none;
  border-radius: 5px;
  background-color: lightgreen;
}

.input-container input#search{
  width: 300px;
  height: 50px;
  //background: #2b303b;
  background: lightsalmon;
  border: none;
  font-size: 10pt;
  //float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

/* process bar*/
.bar-container {
  text-align: center;
  padding-top: 50px;
}

div#bar {
  background-color: #46BFBD;
  height: 5px;
  margin: auto;
  width: 0px;
}

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  text-align: center; 
  padding-bottom: 20px;
}
